*{ 
    margin: 0%; 
    padding: 0%; 
} 
header{ 
    display: flex; 
    justify-content: space-between; 
    align-items:center ; 
    background-color: rgb(167, 78, 78); 
    padding: 15px; 
} 
h1{ 
    font-size: 25px; 
    color: lightpink; 
} 
nav{ 
    padding: 10px; 
} 
a{ 
    text-decoration: none; 
    font-size: 20px; 
}

section{
    flex-direction: column;
}
.cartão{
    width: 260px;
    height: 200px;
}
.cartão-frente{
background-color: blueviolet;
position: absolute;
border-radius: 12px;
border: solid 5px blue;
}
.cartão-verso{
background-color: hotpink;
position: absolute;
border-radius: 12px;
border: solid 5px black ;

}